# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Node
node_modules/
frontend/node_modules/

# React build
frontend/build/

# VSCode / IDEs
.vscode/
.idea/

# Docker
*.dockerignore

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db
